{% extends 'base.html' %}
{% block content %}

<div class="container mt-4">
  <div class="row">
    <!-- Formulari d'accés -->
    <div class="col-md-6 mb-4">
      <h3>Accedir a un event existent</h3>
      <p>Introdueix el token d'accés per accedir a un event existent:</p>
      <form method="POST" action="{{ url_for('access_event') }}">
        {{ access_form.csrf_token }}
        {{ access_form.hidden_tag() }}
        <div class="mb-3">
          {{ access_form.token.label(class="form-label") }}
          {{ access_form.token(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ access_form.submit(class="btn btn-primary") }}
        </div>
      </form>
    </div>

    <!-- Formulari de recuperació -->
    <div class="col-md-6 mb-4">
      <h3>Recuperar events</h3>
      <p>Introdueix el teu correu electrònic per recuperar els events que tens registrats:</p>
      <form method="POST" action="{{ url_for('recover_events') }}">
        {{ recover_form.csrf_token }}
        {{ recover_form.hidden_tag() }}
        <div class="mb-3">
          {{ recover_form.email.label(class="form-label") }}
          {{ recover_form.email(class="form-control") }}
        </div>
        <div class="mb-3">
          {{ recover_form.submit(class="btn btn-primary") }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
