
    <div class="card-body">
      <form method="POST" action="{{ url_for('create_new_event') }}">
        {{ event_form.hidden_tag() }}
        <div class="mb-3">
          {{ event_form.name.label(class="visually-hidden") }}
          {{ event_form.name(class="form-control", placeholder="Nom de l'event") }}
        </div>
        <div class="mb-3">
          {{ event_form.description.label(class="visually-hidden") }}
          {{ event_form.description(class="form-control", placeholder="Descripcio") }}
        </div>
        <div class="mb-3">
          {{ event_form.email.label(class="visually-hidden") }}
          {{ event_form.email(class="form-control", placeholder="Correu electrònic", type="email") }}
        </div>
        {{ event_form.submit(class="btn btn-primary", type="submit") }}
        <a href="{{ url_for('home') }}" class="btn btn-secondary ms-2">
          <i class="fas fa-arrow-left"></i> Cancel·lar
        </a>
      </form>
    </div>